.bg {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:380px;
  
  z-index:-1;
}

/*TEXTO*/
.custom-h5 {
  font-size: 15px;
  font-weight: bold;
}
.custom-h5 span {
  font-size: 12px;
  font-weight: bold;
}

.menu {
  position: fixed;
  z-index: 999;
  width:100%;
}
.menu nav {
  box-shadow: none;
}

#slide-out{
  z-index: 1001;
}
#sidenav-overlay{
  z-index: 1000;
}
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons{
  margin:0 10px 0 0;
}
.menu-setting ul {
  right: 45px!important;
}

.content .container {
  position:relative;
  border-radius:3px;
  margin-top:120px;
  padding:16px;
}

.tabs .tab a {
  transition:.4s;
}
.tabs .tab a.active {
  text-shadow: .5px 0 0 currentColor;
  opacity:1 !important;
}
.tabs .tab a:hover {
  color:#ee6e73 !important;
  opacity:.6;
}

.pages {
  margin-top:16px;
  display:flex;
  justify-content:space-between;
  overflow:hidden;
  width:100%;
}

.page {
  min-height:500px;
  flex-basis:100%;
  flex-shrink:0;
  margin:0;
  margin-right:16px;
  box-sizing:border-box;
  padding:.75rem;
  overflow:hidden;
  
  img {
    max-width:100%;
  }
  
  h2 {
    margin-top:0;
  }
}

/*ESPACIOS DE FONDO*/
.space{
  height: 50px;
}

/*MATERIALIZE */
.fixed-action-btn.horizontal{
  padding: 15px 0px 0px 0px !important;
  right: -0px;
}


/*TABLA*/
.custom-table{
  
}
.custom-table thead tr td {
  font-weight:bold;
  /*font-size: 12px;*/
}
.custom-table tbody tr td {
  /*font-size: 12px;*/
}
.custom-table-title {
  font-size: 15px;
  /*color:#5c6bc0;*/
  color:rgba(0,0,0,0.75);
}
.custom-table-title .custom-sub-title {
  font-size: 12px;
  /*color: #000000;*/
  color:rgba(0,0,0,0.64);
  margin-top:5px;
}

/*COLOR*/
.custom-color{
  color:#3949ab!important;
}
.custom-color:active, .custom-color:focus, .custom-color:hover, .custom-color:link, .custom-color:visited {
  color:#303f9f!important;
}


/*FOOTER COPYRIGHT*/
.footer-copyright .container{
  margin-top: 0px;
  padding:0px;
}

.footer-copyright .container{
  font-size: 13px;
  font-weight: bold;
}


/*TEXTO*/
.caption {
  color:rgba(0,0,0,0.71);
}

/*BUTTON DROPDOWN*/
.custom-btn-flat i {
  color:#646464;
}




/*Footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



/*mapa de google*/
.map {
  width: 100%;
  height: 100%;
}


/*Custom-Win-Section*/
.custom-win-section .title {
  font-size: 12px;
  font-weight: bold;
}




/*MODAL*/
.modal-signin {
  background-color: transparent;
  overflow-y:hidden;
  box-shadow:none;
}


/*CONTENIDO*/
.custom-page {
  margin-right: 0px;
  padding: 0px;
}
.content-title {
  line-height: 52px;
  padding-left: 10px;
  text-shadow:.5px 0 0 currentColor;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing:.8px;

  /*indicator*/
  /*border-bottom: 2px;
  border-color:#f6b2b5;
  border-bottom-style:solid;*/
}

.content-action {
  padding-right: 10px;
}

/*Custom Form*/
.custom-input-field label {
  color: #3d4452;
  font-weight: bold;
  font-size: 13px;

}

.custom-input-field textarea {
  border-left:none;
  border-right: none;
  border-top:none;
  border-bottom:1px solid #9e9e9e;
  transition: all 0.3s;
}
.custom-input-field textarea:focus {
  outline: none;
  border-left:none;
  border-right: none;
  border-top:none;
  border-bottom:1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}


.custom-footer .custom-p {
  font-size: 10px;
}